body{
            background: linear-gradient(to right, rgb(214, 158, 214), rgb(129, 190, 210));
            font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
            color: black;
        }

        .container{
            margin-top: 110px;
            width: 400px; 
            /* margin: auto; */
            justify-self: center;
            box-shadow: 2px 5px 5px 5px gray;
            padding: 50px;
            background: linear-gradient(to top right,lightskyblue, lightcyan, lightpink) ;
            border-radius: 30px 0px 40px 10px;
            background-color: lig;
            
        }

        a{
            cursor: pointer;
            text-decoration: none;
            color: darkblue;
        }

        input[type=text],
        input[type=password],
        input[type=search],
        textarea, select{
            border: 1px solid black;
            border-radius: 5px;
            margin-top: 10px;
            padding: 10px;
        }

        input[type=submit],
        input[type=reset],
        button{
            padding: 8.5px;
            border-radius: 5px;
            background-color: grey;
            color: white;
        }

        .warning{
            color: red;
        }
